$mainFontFamily: 'Poppins', sans-serif;
$hFontFamily: 'Arima', cursive;
$bgColor: linear-gradient(180deg, rgba(219,233,233,1) 0%, rgba(255,255,255,1) 50%, rgba(221,233,233,1) 100%);
$primaryColor: #274A4A;