@use 'vars';
@use 'hero';
@use 'about';
@use 'services';
@use 'footer';
@use 'contato';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    list-style: none;
}


header {

  background-color: #DBE9E9;

  .nav-link {
            
    color: #3f3f3f;
    text-transform: uppercase;

    @media (max-width: 820px ) {

        text-align: center;
        padding-top: 16px;

    }

    &.active {

        font-weight: 400 !important;
        color: vars.$primaryColor !important;

    }

    &:hover {

        color: vars.$primaryColor;

    }


}



}

.social-icons {

    li {

        &:hover {
    
            transition: ease 0.3s;

            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            transition: all 0.8s;
        }

    }

    @media (max-width:1279px) {

        display: none;

    }


}

@media (min-width: 820px) and (max-width: 1300px) {


    .footer-container, .contato-container, .services-container, .about{

        padding-right: 5vw;
        padding-left: 5vw;

    }

}

