@use 'vars';
@use 'hero';
@use 'about';
@use 'services';
@use 'footer';
@use 'contato';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    list-style: none;
}

header {

  background-color: #DBE9E9;

  .nav-link {
            
    color: #3f3f3f;
    text-transform: uppercase;

    @media (max-width: 768px ) {

        text-align: center;
        padding-top: 16px;

    }

    &.active {

        font-weight: 400 !important;
        color: vars.$primaryColor !important;

    }

    &:hover {

        color: vars.$primaryColor;

    }


}



}

.social-icons {

    @media (max-width:1279px) {

        display: none;

    }


}

